header{
    background-color: black;
    height: 30vh;
    border-bottom: 3px solid red;
    .headerNav{
        display: flex;
       align-items: center;
       justify-content: space-between;
    }
    .logo{
        width: 150px;
    }
    .header__menuNav{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .header__menuNav--activo{
        font-weight: bold;
        text-decoration: underline;
    }
    
}
.navbar{
    width: 100vw;
    height: 30vh;
    border-bottom: 3px solid red;
    .nav-link{
        color: white;
    }
    .logo{
        width: 150px;
    }
}
@media(max-width:425px){
    .headerNav{
        display: none;
    }
    header{
        height: 30vh;
        border-bottom: none;
    }
        
    li{
        padding: 0px;
        margin-left: 7px;
        font-size: small;
    }
   
}
@media(min-width:769px){
    .navbar{
        display:none
    }
}
@media(max-width:768px){
    .headerNav{
        display: none;
    }
}