main {
    background-color: black;
}

.main__imagenInicio {
    width: 98.5vw;
    object-fit: cover;
    height: 80vh;


}
.carousel-item{
    height: 90vh;
}

h1 {
    font-family: 'Prosto One', cursive;
    color: white;
    text-align: center;
    padding: 1rem;
}

p {
    font-family: 'Prosto One', cursive;
    color: white;
}

.imagen__f1Grid {
    width: 45vw;
    height: 65vh;
    object-fit: cover;
}

.imagen__f1Podio {
    width: 45vw;
    height: 65vh;
    object-fit: cover;
}

.textoCentrado {
    text-align: center;
    border-bottom: 2px solid red;
    border-top: 2px solid red;
    padding: 3rem;

}

.main_imagenesInicio {
    text-align: center;
}

@media(max-width:425px) {

    .main__imagenInicio {
        width: 100vw;
    }
    .carousel-item{
        height: 50vh;
        object-fit: cover;
    }
    .main_imagenesInicio{
        height: 50vh;
    }

    .imagen__f1Grid {
        width: 100vw;
        height: 38vh;
        object-fit: cover;
    }

    .imagen__f1Podio {
        width: 100vw;
        height: 38vh;
        object-fit: cover;
    }
}